* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html, body{
    height: 100%;
}
body{
	color: #000;
	font: 14px/18px Arial, sans-serif;
	position: relative;
}
.content{
	padding: 74px 0 60px
}
a{
	color: #000;
	text-decoration: none;
}
a:hover{
	color: #ffc107;
	text-decoration: none;
}
.zoom-block{
	overflow: hidden;
}
.transition{
	-webkit-transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
	-moz-transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
	-o-transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
	transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}
.filter-title{
	margin: 10px 0;
	cursor: pointer;
}
.filter-title__toggle{
	background-image: url('../img/ico.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 21px;
    height: 21px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: bottom;
}
.filter-title__toggle_active{
	background-position: 0 -22.5px;
}
.filter-title__title{
	font: 16px/20px Arial, sans-serif;
}
.filter-hidden{
	margin-left: 7px;
}
.filter-hidden__list-item{
	display: block;
	text-decoration: none;
	color: #000;
	font-size: 12px;
	line-height: 16px;
}
.filter-hidden__check{
	display: inline-block;
	margin-right: 5px;
	width: 8px;
	height: 8px;
	outline: 1px solid #000;
}
.filter-hidden__check_active{
	background: #000
}
.helper__sort{
	text-align: right;
}
.helper__sort-link{
	cursor: pointer;
}
.grid{
	clear: both;
}
.grid__item{
	margin: 5% 0;
}
.grid__item-img{
	max-width: 100%
}
.button{
	border: 1px solid #ffc107;
	color: #ffc107;
	background: #fff;
	display: block;
	width: 200px;
	padding: 20px 0;
	text-align: center;
	text-transform: uppercase;
}
.button:hover{
	color: #fff;
	background: #ffc107;
}
.grid__more-btn{
	margin: 30px auto;
	clear: both;
}
.paginator{
	text-align: center;
}
.paginator__prev,
.paginator__next{
	color: #ffc107;
	border: 1px solid #bbb;
	border-radius: 50px;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
}
.paginator__prev::after,
.paginator__next::after{
	padding: 10px;
    line-height: 24px;
}
.paginator__prev::after{
	content: "\2039";		
}
.paginator__next::after{
	content: "\203A";	
}
.paginator__paging{
	display: inline-block;
	vertical-align: middle;
}
.paginator__page{
	padding: 5px;
}
.paginator__page-average::after{
	content: "\2026";
}
header, footer{
	position: absolute;
	left: 0;
	right: 0;
}
header{	
	top: 0;
}
footer{
    height: 58px;
    margin: 0;
}
@media screen and (orientation: portrait){
	.grid .grid__item{
		width: 50%
	}
}
@media screen and (orientation: landscape){
	.grid .grid__item{
		width: 33.33333333%
	}
}